Options -Indexes
DirectoryIndex index.php
AddDefaultCharset UTF-8

RewriteEngine on

ErrorDocument 403 /error_page/403.html
ErrorDocument 404 /error_page/404.html
ErrorDocument 500 /error_page/500.html

# не позволять httpd отдавать файлы, начинающиеся с точки (.htaccess, .svn, .git и прочие)
RedirectMatch 403 ^\.(?!well-known).*$

#перенаправляем на URI со слешем на коннце если его нет
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*[^/])$ $1/ [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


RewriteRule ^(.*)$ index.php [L]
RewriteRule ^admin/(.*)$ index.php [L]